* {
    margin:0px;
    padding:0px;
}
body {
    background-color: #ebebeb;
}

.header {
    width:100%;
    background:#373737;
}
.header .wrapper {
    width: 1000px; 
    margin: 0px auto; 
    overflow: hidden;
} 
.header .wrapper .logo {
    width: 80px; 
    height: 67px; 
    float:left; 
    background-color: #f26c4f; 
    background-image: url('images/g.png'); 
    background-position: center;
    
}

.header .wrapper .text {
    padding:23px;
    float:left;
    color:#e4e4e4;
    font-size:18px;
}
.header .wrapper .drop-down {
    float: right; 
    height: 36px; 
    width: 142px; 
    margin: 14px 0px 5px 58px;
    background-color:white;
}
